__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
*.db
.env
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md